#HeaderBar {
    z-index: 1;
    padding: 5px;
    width: 100%;
    padding-left: 2%;
    margin-bottom: 30px;
    background-color: pink;
    color: grey; 
}

#navYearTwo {
    position: absolute;
    right: 20px;
    top: 3%;
    color: grey;
    text-decoration: none;
    font-size: 1.2em;
}

#jdfnjsdnf{
    padding-left: -10px;
}

#formatMiddleImg{
    margin-top: 50%;
}

#imagesS{
    padding-left: 30%;
    padding-right: 30%;
    width: 30px;
}

#imagesM{
    padding-left: 10%;
    padding-right: 10%;
}
