#HeaderBar {
    z-index: 1;
    padding: 5px;
    width: 100%;
    padding-left: 2%;
    margin-bottom: 30px;
    background-color: white;
    color: grey; 
}

@media (min-width: 498px){
    #HeaderBar {
        background-color: lightyellow;
        
    }
}


@media (max-width: 497px){
    #HeaderBar {
        background-color: pink;

    }
}